body {
  background-color: pink;
}
.searchbar {
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.episode-info {
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.info-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#rick-and-morty {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#random-picture {
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
#imageContainer {
  margin-top: 20px;
}

#randomImage {
  max-width: 400px;
  max-height: 400px;
}
